:root {
  --primary: #5b3b97;
  --primary-light: #6b4ea1;
  --primary-dark: #513587;
  --secondary: #7e74b6;
  --secondary-light: #8a81bd;
  --secondary-dark: #7168a3;
  --blue: #7ed3f0;
  --blue-light: #8ad7f1;
  --grey: #c2c2c2;
}

.App {
  text-align: center;
}

.container {
  min-height: 90vh;
}

.title {
  color: var(--secondary);
}

.btn-media {
  color: var(--primary);
}

.btn-media:hover {
  color: var(--primary-light);
}

.btn-primary {
  background-color: transparent;
  border-color: var(--blue);
  color: var(--blue);
  font-weight: 700;
}

.btn-primary:hover {
  background-color: var(--blue);
  border-color: var(--blue);
  color: #fff;
}

.popup {
  min-height: 80px;
}

.popup > * {
  border-radius: 20px;
}

.copy {
  margin-bottom: 0;
  padding-bottom: 1rem;
}

.divider {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  height: 40px;
  width: 100%;  
  margin-bottom: 20px;
}

.box1 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  height: 100%;
  width: 55%;
  background-color: var(--primary);
}

.box2 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  height: 25px;
  width: 50%;
  background-color: var(--secondary);
}
.box3 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 8px;
  width: 250%;
  background-color: var(--blue);
}